@define-color background #0F0F13;
@define-color foreground #acc0dc;
@define-color color0 #0F0F13;
@define-color color1 #554F6A;
@define-color color2 #7D667C;
@define-color color3 #335694;
@define-color color4 #5468A1;
@define-color color5 #557CC0;
@define-color color6 #489DA7;
@define-color color7 #acc0dc;
@define-color color8 #78869a;
@define-color color9 #554F6A;
@define-color color10 #7D667C;
@define-color color11 #335694;
@define-color color12 #5468A1;
@define-color color13 #557CC0;
@define-color color14 #489DA7;
@define-color color15 #acc0dc;