@define-color bg #0F0F13;
@define-color fg #acc0dc;
@define-color gray1 #7D667C;
@define-color gray2 #78869a;
@define-color gray3 #5468A1;
@define-color gray4 #335694;
@define-color gray5 #557CC0;
@define-color fg_bright #acc0dc;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}